/* Base Font, Color, Spacing and Gap Variables */
:root {
  /* Font Families */
  --font-primary: 'Dava Sans', sans-serif;

  /* Primary blue colors */
  --color-primary-blue-100: #192B37;
  --color-primary-blue-90: #30404B;
  --color-primary-blue-80: #47555F;
  --color-primary-blue-70: #5E6A73;
  --color-primary-blue-60: #758087;
  --color-primary-blue-50: #8C959B;
  --color-primary-blue-40: #A3AAAF;
  --color-primary-blue-30: #BABFC3;
  --color-primary-blue-20: #D1D5D7;
  --color-primary-blue-10: #E8EAEB;

  /* Pure White color */
  --color-pure-white: #FFFFFF;

  /* Pure Black color */
  --color-pure-black: #000000;

  /* Primary ornage colors */
  --color-primary-orange-100: #FF5640;
  --color-primary-orange-70: #FF7866;

  /* Positive colors */
  --color-positive-light-100: #2D9C5B;
  --color-positive-dark-100: #3DD17B;

  /* Negative colors */
  --color-negative-light-100: #D4403B;
  --color-negative-dark-100: #E84641;
  --color-negative-dark-10: #A72925;

  /* Warning colors */
  --color-warning-light-100: #EB9410;
  --color-warning-dark-100: #F99C11;

  /* other colors */
  --color-data-violet:#8684BF;
  --color-data-blue:#7C94A6;
  /* --------------------------------------------------------------------------------------------- */

  /* Radius */
  --radius-xs2 : 2px;
  --radius-xs : 4px;
  --radius-s : 8px;
  --radius-m : 12px;
  --radius-l : 24px;
  --radius-full : 360px;

  /* Padding */
  --padding-xs3: 0.125rem; /*2px*/
  --padding-xs2: 0.25rem; /*4px*/
  --padding-xs: 0.5rem; /*8px*/
  --padding-s: 0.75rem; /*12px*/
  --padding-m: 1rem; /*16px*/
  --padding-l: 1.5rem; /*24px*/
  --padding-xl: 2rem; /*32px*/
  --padding-xxl: 2.5rem; /*40px*/
  --padding-xxl2: 3.5rem; /*56px*/
  --padding-xxl3: 4rem; /*64px*/
  --padding-xxl4: 6rem; /*96px*/

  /* Gap */
  --gap-xs3: 0.125rem; /*2px*/
  --gap-xs2: 0.25rem; /*4px*/
  --gap-xs: 0.5rem; /*8px*/
  --gap-s: 0.75rem; /*12px*/
  --gap-m: 1rem; /*16px*/
  --gap-l: 1.5rem; /*24px*/
  --gap-xl: 2rem; /*32px*/
  --gap-xxl: 2.5rem; /*40px*/
  --gap-xxl2: 3.5rem; /*56px*/
  --gap-xxl3: 4rem; /*64px*/
  --gap-xxl4: 6rem; /*96px*/


  /* Font Sizes */
  --font-size-xs: 8px;
  --font-size-sm: 10px;
  --font-size-base: 12px;
  --font-size-lg: 14px;
  --font-size-xl: 16px;
  --font-size-2xl: 18px;
  --font-size-3xl: 20px;
  --font-size-4xl: 22px;
  --font-size-5xl: 24px;
  --font-size-6xl: 36px;

  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  
}

body.light {
  --bg-color: var(--color-pure-white);
  --text-color: var(--color-primary-blue-100);
  --primary-color: var(--color-primary-orange-100);
  --success-color: var(--color-positive-light-100);
  --negative-color: var(--color-negative-light-100);
  --negative-hover-color: var(--color-negative-dark-10);
  --warning-color: var(--color-warning-light-100);

  --text-light-color:  var(--color-primary-blue-70);

  --input-label-color: var(--color-primary-blue-70);
  --input-placeholder-color: var(--color-primary-blue-70);
  --text-input-background-color : var(--color-primary-blue-10);
  --input-border-color: var(--color-primary-blue-30);

  --button-primary-background-color : var(--color-primary-blue-100);
  --button-primary-hover-color: var(--color-primary-blue-70);

  --button-danger-background-color : var(--color-negative-light-100);
  --button-danger-hover-color: var(--color-negative-dark-10);

  --error-color: var(--color-negative-dark-10);

  --dropdown-option-hover-color: var(--color-primary-blue-10);

  --header-border-color: var(--color-primary-blue-20);
  --sidebar-text-color: var(--color-primary-blue-70);
  --card-body-color: var(--color-pure-white);
  --card-subtitle-color: var(--color-primary-blue-80);
  --text-subheading-color: var(--color-primary-blue-90);

  --text-inactive-color: var(--color-primary-blue-20);

  --tooltip-bg-color: var(--color-primary-blue-100);

  --table-header-bg-color: var(--color-primary-blue-10);
}

/* Dark Theme Color Pallet */
body.dark {
  --bg-color: var(--color-primary-blue-100);
  --text-color: var(--color-pure-white);
  --primary-color: var(--color-primary-orange-100);
  --success-color: var(--color-positive-dark-100);
  --negative-color: var(--color-negative-dark-100);
  --negative-hover-color: var(--color-negative-dark-10);
  --warning-color: var(--color-warning-dark-100);

  --text-light-color:  var(--color-primary-blue-40);

  --input-label-color: var(--color-primary-blue-40);
  --input-placeholder-color: var(--color-primary-blue-40);
  --text-input-background-color : var(--color-primary-blue-80);
  --input-border-color: var(--color-primary-blue-60);

  --button-danger-background-color : var(--color-negative-dark-100);
  --button-danger-hover-color: var(--color-negative-dark-10);

  --dropdown-option-hover-color: var(--color-primary-blue-80);

  --header-border-color: var(--color-primary-blue-20);
  --sidebar-text-color: var(--color-pure-white);

  --card-body-color: var(--color-primary-blue-10);
  --card-subtitle-color: var(--color-primary-blue-80);
  --text-subheading-color: var(--color-pure-white);

  --text-inactive-color: var(--color-primary-blue-40);

  --error-color:var(--color-negative-dark-100);

  --tooltip-bg-color: var(--color-pure-white);

  --table-header-bg-color: var(--color-primary-blue-80);
}

/* Utility Font Classes */
body {
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal) ;
  line-height: var(--line-height-normal);
  background-color: var(--bg-color);
  color: var(--text-color);
  
}
